.site-wrapper-inner
  .cover-container
    .masthead.clearfix
      .inner
        h3.masthead-brand Zenbase-angular
        ul.nav.masthead-nav
          li.active
            a(ui-sref='home') Home
          li
            a(ui-sref='partial') Partial
          li
            a(href='https://github.com/axiomzen/zenbase-angular') On Github

    .inner.cover
      h1.cover-heading Opinionated Angular boilerplate
      p.lead Yet another Angular boilerplate. Why? Why not! Boilerplates come in many flavours. Zenbase is intended to be light and flexible, but with a few opinionated choices up-front.

      .row.padded
        .col-xs-4(ng-repeat="tech in mainCtrl.tech")
          .thumbnail
            img(src="./images/{{tech}}.png")
      .row.padded
        .col-xs-4(ng-repeat="lang in mainCtrl.lang")
          .thumbnail
            img(src="./images/{{lang}}.png")
      p.lead
        a.btn.btn-lg.btn-default(href='https://github.com/axiomzen/zenbase-angular') On GitHub

    .mastfoot
      .inner
        p Cover template for
          a(href="http://getbootstrap.com")  Bootstrap
          |, by
          a(href="https://twitter.com/mdo")  @mdo
