doctype html

html
  head
    title Title
    // bower:css
    // endbower
    link(rel='stylesheet', href='/css/main.css')
  body(ng-app='app')
    div(ui-view)
    // bower:js
    // endbower
    script(src='/js/app.js')