doctype html

html
  head
    title Title
    //- inject:css
    //- endinject
  body(ng-app='app')
    div(ng-controller="hello as h")
      p(ng-click="h.data()") Hello

    script(src='bower_components/angular/angular.js')

    //- inject:js
    //- endinject
