doctype html

html(lang='en-us')
  head
    title Zenbase
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    // bower:css
    // endbower
    link(rel='stylesheet', href='./css/main.css')
  body(ng-app='app')
    div.site-wrapper(ui-view)
    // bower:js
    // endbower
    script(src='./js/app.js')