doctype html

html
  head
    title Zenbase
    // bower:css
    // endbower
    link(rel='stylesheet', href='./css/main.css')
  body(ng-app='app')
    div.site-wrapper(ui-view)
    // bower:js
    // endbower
    script(src='./js/app.js')